html, body {
  height: 100%;
  width: 100%;
  font-family: papyrus;
}

h1 {
  text-align: center;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding:80px;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 30;
  padding: 60;
}
li {
  display: inline;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #b51c1c;
  color: #000000;
}

.world {
  text-align: center;
}

.recipes {
  text-align: center;
}

.popular recipes {
  text-align: center;
}

.about {
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
} 





.side1 {
  max-width: 20%;
  float: left;
  text-align: left;
  /*padding: 10px;*/
  column-fill: balance; 
  opacity: 0.8;
}

/* Middle column */
.middle {
  width: 60%;
  float: left;
  text-align: center;
  margin-left: 0%;
  margin-right: 0%;
  coloum-fill: balance;

}

/* Left and right column */
.side2 {  
  max-width: 20%;
  float: left;
  /*padding: 10px;*/
  column-fill: balance;
}




.mexico img {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.italy img {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.india img {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row world:after {
  content: "";
  clear: both;
  display: table;
}